<!DOCTYPE html>
<html>
  <head>
    <title>Rails learning application</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to 'home', root_path%> 
<%# this reads from the routes file to check where to point too %>
    <%= link_to 'about', about_path%>
    <%= link_to 'contact', contact_path%>
    <%# the navbar is loaded here so I dont have to add it to each page individually %>
    <%= yield %>
  </body>
</html>
